.containerCard {
  align-items: flex-end;
  background-color: rgb(207, 242, 194);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  width: 250px;
}

.containerDescription {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.containerDescription img {
  width: 100px;
}

.containerDescription h3 {
  margin-bottom: 55px;
  top: 0;
}

/* .containerInput {
  display: flex;
  justify-content: center;
} */

.containerInput input {
  text-align: center;
  width: 50%;
}

