.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.containerButton {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/*
.container input {
  border: none;
  border-radius: 5px;
  font-size: medium;
  margin: 9px;
}

.container button {
  background-color: rgba(124, 153, 95, 0.679);
  border-radius: 5px;
  font-size: medium;
}

.container button:hover {
  background-color: rgba(132, 211, 54, 0.679);
  cursor: pointer;
} */
