.finalize-order {
  background-color: rgb(133, 198, 252);
}

.table {
  background-color: rgb(178, 217, 250);
  margin: 1em;
}

.titles, .values {
  background-color: rgb(255, 255, 255);
  margin-left: 0%;
  width: 100vh;
  padding: 1em;
  margin: 1em;
}

