.App {
  align-items: center;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

.App > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.rocksGlass {
  animation: shake 10s infinite alternate;;
  max-height: 80vh;
}

@keyframes shake {

  0% {
    transform: translateX(0px);
    background-image: url('./images/deliveryman.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  25% {
    transform: translateX(-100px);
    background-image: url('./images/deliveryman.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  50% {
    transform: translateX(+100px);
    background-image: url('./images/deliveryman.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  100% {
    transform: translateX(0px);
    background-image: url('./images/deliveryman.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
